<form class="form-horizontal" role="form" class="simple-form">
        <div>
            <div class="controls">
                <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        </span>
                    <input type="text" style="width: 200px" name="timeLineDatesRange" id="timeLineDatesRange" class="form-control" />&nbsp;&nbsp;
                    <button class="button blue" ng-click="UpdateTimeline()">הצג ציר זמן</button>
                </div>
            </div>
        </div>
        <div class="checkbox" name="ATMEvent" style="padding-left: 1px; margin-top: 8px;">
            <label style="margin-right: 15px;">
                <input type="checkbox" ng-init="query.isATM = true" ng-model="query.isATM"> ATM Event
            </label>
            <label style="margin-right: 15px;">
                <input type="checkbox"  ng-init="query.isMeeting = true" ng-model="query.isMeeting"> Meeting Event
            </label>
            <label style="margin-right: 15px;">
                <input type="checkbox" ng-init="query.isEmail = true"  ng-model="query.isEmail"> Email Event
            </label>
        </div>
</form>

<br>
<div class="row">
    <iframe id="TimeLineIframe" src="timeline-portfolio/index.html" width="100%" height="600" style="margin-left:10px;margin-right: 10px"></iframe>
</div>
<!--div class="row">
    <div class="col-md-8">
        From date:
        <input name="startDate" type="date" ng-model="startDate" ng-change="dateChanged()"/>
        To date:
        <input name="endDate" type="date" ng-model="endDate" ng-change="dateChanged()"/>
        <br />
        <span ng-bind="errorMsg"></span>
        <!--<div>-->
            <!--<ul ng-repeat="item in items |  betweenDate: startDate: endDate">-->
                <!--<li>{{item.Date}}</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--/div>
</div-->
