<form class="form-horizontal">
    <fieldset>
        <div class="control-group" >
            <div class="controls">
                <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        </span>
                    <input type="text" style="width: 200px" name="timeLineDatesRange" id="timeLineDatesRange" class="form-control" />&nbsp;&nbsp;
                    <button class="button blue" ng-click="UpdateTimeline()">הצג ציר זמן</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<br>
<div class="row">
    <iframe id="TimeLineIframe" src="timeline-portfolio/index.html" width="1000" height="600"></iframe>
</div>
<!--div class="row">
    <div class="col-md-8">
        From date:
        <input name="startDate" type="date" ng-model="startDate" ng-change="dateChanged()"/>
        To date:
        <input name="endDate" type="date" ng-model="endDate" ng-change="dateChanged()"/>
        <br />
        <span ng-bind="errorMsg"></span>
        <!--<div>-->
            <!--<ul ng-repeat="item in items |  betweenDate: startDate: endDate">-->
                <!--<li>{{item.Date}}</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--/div>
</div-->
