<div>
   <div ng-controller="InsertCtrl">
       <form novalidate class="simple-form" role="form">
            <div class="form-group">
                <label>Date:</label>
                <div class="control-group" >
                    <div class="controls">
                        <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        </span>
                            <input type="text" style="width: 200px" name="timeLineDatesRange" id="timeLineDatesRange" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>כותרת ארוע:</label>
                <input type="text" ng-model="Event.headline" class="form-control"/>
                <label>פרטים נוספים:</label>
                <input type="text" ng-model="Event.text" class="form-control"/>
                <label>מדיה:</label>
                <input type="text" ng-model="Event.asset" class="form-control"/>
            </div>
            <!--input type="button" ng-click="reset()" value="Reset" /-->
            <input type="submit" ng-click="submitPost()" value="Add Atm" />
           <BR><BR>
           <input type="button" ng-click="addNewMeeting()" value="Add meeting" />
           <input type="button" ng-click="deleteMeetings()" value="Delete meetings" />
           <input type="button" ng-click="getMeetings()" value="Get meetings" />
           <BR><BR>
           <input id="btnAddMail" type="button" ng-click="addNewMail()" value="Add Mail" />

        </form>
    </div>
</div>
