<div class="row">
        <div class="col-md-8">
            From date:
            <input name="startDate" type="date" ng-model="startDate" ng-change="validation()"/>
            To date:
            <input name="endDate" type="date" ng-model="endDate" ng-change="validation()"/>
            <br>
            <span ng-bind="errorMsg"></span>
            <hr />
            <div>
                <ul ng-repeat="item in items |  betweenDate: startDate: endDate">
                    <li>{{item.Date}}</li>
                </ul>
            </div>

            <Label>Links :</Label>
            <br>
            <label>ATM : </label> https://www.youtube.com/watch?v=fWnsgD9N-Eo
            <br>
            <label>Car : </label>https://www.youtube.com/watch?v=COlo6oSkoUM
        </div>
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span><input type="text" style="width: 200px" name="reservation" id="reservation" class="form-control" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
</div>
