<div class="row">
    <form name='theForm'>
        <div class="col-md-8">
            From date:
            <input name="startDate" type="date" ng-model="startDate" ng-change="validation()"/>
            To date:
            <input name="endDate" type="date" ng-model="endDate" ng-change="validation()"/>
            <br>
            <span ng-bind="errorMsg"></span>
            <hr />
            <div>
                <ul ng-repeat="item in items |  betweenDate: startDate: endDate">
                    <li>{{item.Date}}</li>
                </ul>
            </div>
        </div>
    </form>
</div>
